body{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.navbar{
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 100px;
}
.titulo{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}
.perfiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 120px;
}
.perfiles div{
    margin: 20px;
}
.perfiles a{
    text-decoration: none;
    color: gray;
    text-align: center;
}
h4{
    margin-top: 10px;
}
.perfiles a:hover{
    color: white;
}
.perfiles img:hover{
    border: solid white;   
}
.administrar{
    display: flex;
    justify-content: center;
}
button{
    font-size: 30px;
    color: gray;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid gray 1px;
}
button:hover{
    background-color: gray;
    color: white;
}
@media (max-width:1440px){
    .navbarlogo{
        width: 120px;
        height: 40px;
    }
    .navbar{
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 40px;
    }
    .titulo{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h1{
        font-size: 40px;
    }
    .perfiles{
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .perfiles div{
        margin: 10px;
    }
    .perfil{
        width: 110px;
    }
    h4{
        font-size: 18px;
    }
    button{
        font-size: 20px;
    }
}
@media (max-width:768px){
    .navbarlogo{
        width: 80px;
        height: 30px;
    }
    .navbar{
        padding-top: 20px;
        padding-left: 20px;
    }
    .titulo{
        padding: 20px;
    }
    h1{
        font-size: 30px;
    }
    .perfiles{
        margin-top: 10px;
        padding-bottom: 60px;
    }
    .perfiles div{
        margin: 8px;
    }
    .perfil{
        width: 90px;
    }
    h4{
        font-size: 12px;
    }
    button{
        font-size: 12px;
    }
}
@media (max-width:425px){
    .navbarlogo{
        width: 50px;
        height: 20px;
    }
    .navbar{
        padding-top: 10px;
        padding-left: 10px;
    }
    .titulo{
        padding: 0px;
    }
    h1{
        font-size: 20px;
    }
    .perfiles{
        flex-direction: column;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .perfiles div{
        display: flex;
        flex-direction: column;
        margin: 5px;
        border: solid black;
    }
    .perfil{
        width: 80px;
    }
    h4{
        font-size: 12px;
    }
    button{
        font-size: 12px;
    }
}